@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#menu {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;

    #back-arrow {
        display: flex;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        z-index: 2;

        &:hover {
            scale: 1.1;
        }
    }

    #menu-container {
        display: flex;
        position: relative;
        width: 90%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        animation: fadeIn 2s ease-in-out;

        #menu-header {
            display: flex;
            position: relative;
            width: 30%;
            height: 100%;
            padding-left: 5%;
            margin-top: -5%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            user-select: none;

            h1 {
                font-size: 150px;
                margin-bottom: 10px;
            }

            p {
                font-size: 20px;
                text-align: center;
                margin-bottom: 80px;
            }

            #bottom-arrow {
                display: flex;
                position: absolute;
                top: 80%;
                width: 100%;
                font-size: 50px;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        #menu-list {
            display: flex;
            position: relative;
            width: 70%;
            height: 100%;
            padding-right: 5%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }

            #menu-list-item {
                display: flex;
                position: relative;
                width: 70%;
                height: 80px;
                text-align: center;
                justify-content: center;
                align-items: center;
                border-bottom: 3px solid #ccc;
                cursor: pointer;
                user-select: none;

                &:hover {
                    opacity: 0.8;
                }

                p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 22px;

                    svg {
                        position: absolute;
                        right: 10px;
                    }
                }
            }

            #menu-list-item:last-child {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 900px) {

    #menu {
        height: 115vh;
        margin-bottom: 50px;

        #back-arrow {
            top: 25px;
            left: 20px;
        }

        #menu-container {
            width: 100%;
            flex-direction: column;

            #menu-header { 
                width: 100%; 
                height: 50%;
                padding-left: 0;
                align-items: center;

                h1 { 
                    font-size: 100px;
                }

                #bottom-arrow {
                    top: 80%;
                }
            }

            #menu-list { 
                width: 100%; 
                height: 70%; 
                padding-right: 0;
                padding-bottom: 75px;
                justify-content: flex-start;
                align-items: center; 
                background-color: black;
                z-index: 3;
            }
        }
    }
}
