#mini-games {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    #mini-games-container {
        display: flex;
        position: relative;
        width: 90%;
        height: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #pacman {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 100px 0;
        }

        #pokeball-and-yoshi {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            flex-direction: row;
            margin: 100px 0;
        }

        #pokeball {
            display: flex;
            position: relative;
            width: 50%;
            height: 100%;
            z-index: 1;
            user-select: none;
        }

        #yoshi {
            display: flex;
            position: relative;
            width: 50%;
            height: 100%;
            background-color: black;
            z-index: 2;
            user-select: none;
        }

        #luffy {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            user-select: none;
        }

        #pikachu-wave {
            display: flex;
            position: relative;
            width: 100%;
            height: 150px;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: 50px;

            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: 900px) {

    #mini-games {

        #mini-games-container {

            #pacman {
                margin: 0;
            }

            #pokeball-and-yoshi {
                margin: 0;
                margin-bottom: 30px;
                flex-direction: column;
                gap: 100px;

                #pokeball, #yoshi {
                    width: 100%;
                }
            }
        }
    }
}
