#mini-games {
    display: flex;
    position: relative;
    width: 99.7vw;
    height: 400vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    #mini-games-container {
        display: flex;
        position: relative;
        width: 90%;
        height: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #pacman {
            display: flex;
            position: relative;
            width: 100%;
            height: 50%;
        }

        #pokeball-and-yoshi {
            display: flex;
            position: relative;
            width: 100%;
            height: 25%;
            flex-direction: row;
        }

        #pokeball {
            display: flex;
            position: relative;
            width: 50%;
            height: 100%;
            z-index: 1;
            user-select: none;
        }

        #yoshi {
            display: flex;
            position: relative;
            width: 50%;
            height: 100%;
            background-color: black;
            z-index: 2;
            user-select: none;
        }

        #luffy {
            display: flex;
            position: relative;
            width: 100%;
            height: 20%;
            user-select: none;
        }

        #pikachu-wave {
            display: flex;
            position: relative;
            width: 100%;
            height: 5%;
            justify-content: flex-end;
            align-items: flex-end;

            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: 900px) {

    #mini-games {
        height: 200vh;

        #pacman {
            height: 30%;
        }

        #pokeball-and-yoshi {
            flex-direction: column;
            height: 50%;

            #pokeball, #yoshi {
                width: 100%;
                height: 50%;
            }
        }
    }
}
