#projects {
    display: flex;
    position: relative;
    width: 99.7vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    color: white;
    z-index: 1;

    #up-arrow {
        display: none;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        cursor: pointer;
        transition: 0.3s;
        z-index: 2;

        &:hover {
            scale: 1.1;
        }
    }

    #projects-list {
        display: flex;
        position: relative;
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
