#luffy-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    #luffy-img {
        height: 90%;
        cursor: pointer;
    }

    #luffy-warning-message {
        display: flex;
        position: relative;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;

        p {
            color: white;
            text-align: center;
        }
    }
}

@media (max-width: 900px ) {

    #luffy-warning-message p { font-size: 12px; }

}
