#pacman-container {
    display: flex;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #arcade {
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    #scene {
        position: absolute;
        left: 24.9%;
        top: 31.5%;
        width: 42%;
        height: 42%;
        border: 50px solid black;
        z-index: 2;
    }

    #dots-container {
        display: flex;
        position: absolute;
        top: 35%;
        width: 50%;
        height: 50%;
        align-items: center;
        justify-content: center;
        z-index: 3;

        img {
            position: absolute;
            top: 0;
            width: 7%;
            z-index: 3;
        }
    }
}

@media (max-width: 900px) {

    #pacman-container {
        width: 100%;
        left: 0;

        #scene {
            border: 0px;
        }

        #dots-container {
            top: 31.5%;
            width: 50%;
            height: 54.3%;

            img {
                bottom: 37%;
            }
        }
    }
}

@media (min-width: 1650px) {

    #dots-container {
        top: 34%;
    }
}
