#pacman-container {
    display: flex;
    width: 100%;
    height: 950px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #arcade {
        width: 850px;
        height: 950px;
        z-index: 1;
    }

    #scene {
        position: absolute;
        width: 325px;
        height: 365px;
        margin-top: 210px;
        margin-right: 4px;
        border: 50px solid black;
        z-index: 2;
    }

    #dots-container {
        display: flex;
        position: absolute;
        width: 50%;
        height: 50%;
        margin-top: 450px;
        align-items: center;
        justify-content: center;
        z-index: 3;

        img {
            position: absolute;
            top: 0;
            width: 7%;
            z-index: 3;
        }
    }
}

@media (max-width: 900px) {

    #pacman-container {
        width: 100%;
        left: 0;

        #scene {
            border: 0px;
        }

        #dots-container {
            top: 31.5%;
            width: 50%;
            height: 54.3%;

            img {
                bottom: 37%;
            }
        }
    }
}
