@keyframes bounce {
    0% { top: 0; }
    25% { top: -200px; }
    75% { top: 200px; }
    100% { top: 0; }
}

#yoshi-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #bubble-text {
        display: flex;
        position: absolute;
        top: 10%;
        font-size: 20px;
        text-align: center;
        color: white;
    }

    #yoshi-image-container {
        display: flex;
        position: relative;
        width: 50%;
        height: 50%;
        padding-left: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #yoshi-eyes {
            position: absolute;
            top: 11%;
            height: 8%;
            z-index: 3;
        }

        #yoshi-body {
            position: absolute;
            height: 100%;
            z-index: 2;
        }
    }

    #mouse-pointer {
        display: flex;
        position: relative;
        width: 10%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 15px;
            position: relative;
            animation: bounce 5s ease-in-out infinite;
        }
    }
}

@media (max-width: 900px) {

    @keyframes bounce {
        0% { top: 0; }
        25% { top: -100px; }
        75% { top: 100px; }
        100% { top: 0; }
    }

    #bubble-text {
        font-size: 13px;
    }
}
