#video-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.7vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 11;

    video {
        width: 80%;
        height: 80%;
        object-fit: contain;
        cursor: pointer;
    }
}
