@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/PressStart2P-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('/Inter-Medium.ttf') format('truetype');
}