html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: InterMedium;
    overflow-x: hidden;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    font-family: InterBold;
}

h2 {
    font-size: 30px;
    font-family: InterSemi;
}

h3 {
    font-size: 25px;
    font-family: InterMedium;
}

p {
    font-size: 16px;
    font-family: Inter;
}

a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: "InterBold";
    src: url("/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "InterSemi";
    src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "InterMedium";
    src: url("/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Consolas";
    src: url("/fonts/Consolas.ttf") format("truetype");
}