.project-card {
    display: flex;
    position: relative;
    width: 80%;
    height: 400px;
    margin-top: 1%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    border: 3px solid #ccc;

    #project-image {
        display: flex;
        position: relative;
        width: 35%;
        height: 80%;
        padding: 0 5%;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: contain;
            cursor: pointer;
        }

        div {
            display: flex;
            position: absolute;
            width: 55px;
            height: 60px;
            padding-left: 5px;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: white;
            backdrop-filter: blur(50px);
            border-radius: 50%;
            cursor: pointer;
        }
    }

    #project-text-container {
        display: flex;
        position: relative;
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        #project-header {
            display: flex;
            position: relative;
            width: 100%;
            height: 20%;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 30px;
                text-align: center;
            }
        }

        #project-paragraph {
            display: flex;
            position: relative;
            width: 100%;
            height: 40%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: scroll;

            span {
                color: #ccc;
                font-size: 12px;
            }

            &::-webkit-scrollbar {
                width: 5px;
                background-color: black;
            }

            &::-webkit-scrollbar-thumb {
                background-color: white;
                border-radius: 10px;
            }
        }

        #project-stack {
            display: flex;
            position: relative;
            width: 100%;
            height: 25%;
            justify-content: center;
            align-items: center;

            img {
                height: 70%;
                margin-left: 3px;
                margin-right: 3px;
            }
        }
    }

    #project-links {
        display: flex;
        position: absolute;
        right: 0;
        width: 10%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            position: relative;
            width: 100%;
            height: 30%;
            margin: 3% 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 12px;
            font-family: Inter;
            text-align: center;
            transition: 0.3s;
            gap: 3px;

            &:hover {
                scale: 1.05;
            }

            svg {
                font-size: 45px;
            }
        }
    }
}

@media (max-width: 900px) { 

    .project-card {
        margin-bottom: 3%;

        #project-image {
            display: none;
        }

        #project-text-container {
            width: 75%; 
            flex-direction: column;
            align-items: flex-end;

            #project-paragraph {
                width: 90%; 
                height: 50%;
            }

            #project-stack {
                height: 20%; 
                margin-top: 5%;

                img {
                    height: 50%;
                }
            }
        }

        #project-links { 
            width: 25%; 
        }
    }
}
