@keyframes arrow {
    0% { transform: translateY(-5px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(-5px); }
}

#hero {
    display: flex;
    position: relative;
    width: 100vw;
    height: 160vh;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    z-index: 5;
    user-select: none;

    #hero-container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #left-container { left: calc(0.1% - var(--heroScrollHeight)); }
        #right-container { right: calc(0.1% - var(--heroScrollHeight)); }

        #left-container, #right-container {
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            z-index: 3;

            #white-triangle, #black-triangle {
                display: flex;
                position: fixed;
                top: 0;
                height: 100vh;
                width: 105vw;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        #arrow-container {
            display: flex;
            position: absolute;
            left: 5%;
            bottom: 5%;
            width: 25%;
            height: 25%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: arrow 2s infinite;
            z-index: 4;

            #arrow { 
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-weight: 500;
                font-size: 50px; 
                text-align: center;
                color: black; 
                opacity: calc(70% - var(--heroScrollHeight));
            }
        }

        #header-container {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            z-index: 2;

            p:first-child {
                font-size: 100px; 
                font-weight: 700;
                opacity: calc(20% + var(--heroScrollHeight)); 
                text-align: center; 
            }

            p:last-child { 
                font-size: 30px; 
                font-weight: 600;
                opacity: calc(20% + var(--heroScrollHeight)); 
                text-align: center; 
            }
        }
    }
}

@media (max-width: 900px) {

    #hero {

        #hero-container {

            #arrow-container {
                #arrow {
                    font-size: 35px;
                }
            }

            #header-container {
                p:first-child { font-size: 55px; }
                p:last-child { font-size: 22px; }
            }
        }
    }
}
