#Projects {
    display: flex;
    position: relative;
    width: 99.7vw;
    height: 285vh;
    padding-bottom: 6vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 8;
}

#ProjectsContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#ProjectsHeaderContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 8%;
    padding-top: 1%;
    justify-content: center;
    align-items: center;
}

#ProjectsHeader {
    font-size: 50px;
    color: black;
    font-family: InterBold;
}

#ProjectsHeaderToggle {
    display: flex;
    position: absolute;
    top: 10%;
    right: 3%;
    padding: 20px;
    font-family: InterMedium;
    cursor: pointer;
    user-select: none;
}

#ProjectsListContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#Project1, #Project2, #Project3, #Project4, #Project5 {
    display: flex;
    position: relative;
    width: 90%;
    height: 19%;
    margin-top: 1%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    border: 3px solid #ccc;
}

#ProjectLeftContainer {
    display: flex;
    position: relative;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ProjectImageContainer {
    display: flex;
    position: relative;
    width: 90%;
    height: 75%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}

#ProjectImage {
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

#ProjectRightContainer {
    display: flex;
    position: relative;
    width: 60%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#ProjectParagraphContainer {
    display: flex;
    position: relative;
    width: 85%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ProjectHeaderContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#ProjectHeader {
    font-size: 30px;
    color: white;
    font-family: InterSemi;
    text-align: center;
}

#ProjectTextContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 5px;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

#ProjectTextContainer::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

#ProjectTextContainer::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#ProjectParagraph {
    font-size: 16px;
    color: white;
    font-family: Inter;
    text-align: left;
}

#ProjectStackContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

#StackIconContainer {
    display: flex;
    position: relative;
    height: 80%;
    justify-content: center;
    align-items: center;
}

#StackIcon, #StackIconTS, #StackIconJS {
    height: 80%;
    margin-left: 3px;
    margin-right: 3px;
}

#StackIconTS, #StackIconJS { margin-left: 7px; }

#ProjectIconsContainer {
    display: flex;
    position: relative;
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#GithubIconContainer, #RedirectIconContainer, #DocsIconContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 33%;
    justify-content: center;
    align-items: center;
}

#GithubLink, #RedirectLink, #DocsLink {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family: Inter;
    text-align: center;
}

#GithubLink:hover, #RedirectLink:hover, #DocsLink:hover { opacity: 0.7; }

#GithubIcon, #RedirectIcon, #DocsIcon {
    font-size: 45px;
    color: white;
}

#MoreContainer {
    display: flex;
    position: absolute;
    bottom: -3vh;
    width: 100%;
    height: 5vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
}

#DocsA, #MoreGitHub {
    color: black;
    text-decoration: underline;
}

#DocsA:hover, #MoreGitHub:hover { opacity: 0.7; }

#ModalContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.7vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 11;
}

#ProjectGif {
    width: 80%;
    height: 80%;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 900px) { 

    #ProjectsHeaderToggle {
        top: 15%;
    }

    #Project1, #Project2, #Project3, #Project4, #Project5 { width: 95%; margin-bottom: 3%; }

    #ProjectLeftContainer { display: none; }

    #ProjectRightContainer { 
        width: 90%; 
        flex-direction: column;
        align-items: center;
    }

    #ProjectParagraphContainer { width: 100%; height: 75%; }

    #ProjectTextContainer { height: 40%; }

    #ProjectStackContainer { height: 20%; margin-top: 5%; }

    #ProjectIconsContainer { 
        width: 100%; 
        height: 19%; 
        margin-bottom: 1%; 
        flex-direction: row; 
    }

    #GithubIconContainer, #RedirectIconContainer, #DocsIconContainer { width: 33%; height: 100%; }

}
